/*font-family: 'Permanent Marker', cursive;
font-family: 'Oswald', sans-serif;*/

html {
	box-sizing: border-box;
	-web-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: inherit;
}

header {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: 'Permanent Marker', cursive;
	color: #222;
	padding-bottom: 20px;
}

header h1 {
	font-size: 60px;
	margin-top: 10px;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #E8BE89;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: #222;
}

form {
	padding-bottom: 25px;
}

a {
	color: #E8BE89;
}

a:active,
a:focus,
a:hover {
	color: #E8BE89;
	text-decoration: none;
	opacity: 0.7;
}

a:active,
a:focus,
a:after {
	opacity: 1;
}

.button {
	padding: 5px 30px 5px 30px;
	background-color: #222;
	color: #fff;
	border: none;
}

.button:active,
.button:focus,
.button:hover {
	outline: none;
	opacity: 0.9;
	text-decoration: none;
}

.button:active,
.button:focus {
	opacity: 1;
}

.button:after {
	opacity: 1;
	text-decoration: none;
	outline: none;
}

.loadingMessage {
	color: red;
}

.input {
	width: 300px;
	background-color: #fff;
}

.elevationPic {
	height: 22vh;
	width: 33vw;
	background-image: url(../design_img/elevation.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: #222;
	margin: 0 auto;
}

.instruct {
	float: right;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.chart {
	padding-top: 10px;
	padding-bottom: 100px;
	text-align: center;
}

.chartTitle {
	padding-bottom: 40px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	overflow: auto;
	background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal-content {
	color: #fff;
    background-color: #fff;
    text-align: center;
    margin: 3% auto; /* 15% from the top and centered */
    padding: 5px;
    border: 1px solid #888;
    width: 400px;
    height: 600px; /* Could be more or less, depending on screen size */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.loadPic {
	height: 100%;
	width: 100%;
}

.loader {
	z-index: 2;
	margin-top: -70px;
}

footer {
	background-color: #222;
	text-align: center;
	color: #fff;
	height: 60px;
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
}

footer h4{
	padding-top: 10px;
}

@media only screen and (max-width: 1000px) {
	header h1 {
		font-size: 50px;
	}

}

@media only screen and (max-width: 768px) {
	header h1 {
		font-size: 30px;
	}

	.elevationPic {
		height: 122px;
		width: 230px;
	}

}
