body {
	background-color: #E8D9BE;
}

section, div {
	/*border: 1px solid black;*/
	text-align: center;
	margin: 0 auto;
}

header {
	margin-top: 40px;
	margin-bottom: 40px;
}

form > p {
	width: 400px;
}

input {
	width: 375px;
	margin: 5px 0;
}

b,
#loadingMessage {
	color: red;
}

#signPic {
	margin-top: -12px;
	width: 300px;
}

#sign, #formDiv {
	display: inline-block;
}

#formDiv {
	float: left;
	margin-right: 50px;
	width: 400px;
	height: 450px;
}

#distance,
#startElev,
#endElev {
	text-align: left;
}

